header {
    background-color: #F2E9D8;
    width: 100vw;
    padding: 0 320px;
}


nav {
    display: flex;
    justify-content: space-between;
}

.nav_menu{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.header_contain{
    display: flex;
    justify-content: space-between;
}

.header_contain_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.header_contain_img {
    height: 890px;
    width: 415px;
}