.sayHello {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sayHello_img {
    height: 390px;
    width: 660px;
    border-radius: 30px;
}

.sayHello_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-left: 110px;
}

.main_img_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.main_img_section_text_top {
    text-align: center;
    margin-top: 40px;
}

.main_img_section_img {
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.main_img_section_img li {
    display: flex;
    gap: 72px;;
}

.main_img_section_img li img{
    border-radius: 30px;
}

.main_img_section_text_bottom {
    margin-top: 100px;
}

.main_img_section_button {
    margin-top: 28px;
}

.line {
    border: solid 1px #C4C4C4;
    margin: 80px auto;
}





.go_top_button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
}